
body {
  background:#192938 !important;
  font-family: Arial, Helvetica, sans-serif;
}

input,button {
  margin-bottom: 10px;
  border-radius: blue;
  padding: 4px 10px;
  margin-top:10px;
  border-radius: 3px;
  background: #fff3;
  border: 1px solid #fff2;
  color:white;
  outline: none;
  color: #BFBFBF;
  outline: none;
  padding: 4px 6px;
  background-color: rgba( 0, 0, 0, 0.4 );
}
.formRowHint {
  color:#6cf;
}
button  {
  border-radius: 2px;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none !important;
  color: #A4D7F5 !important;
  background: rgba(47,137,188,1);
  background: -webkit-linear-gradient( top, rgba(47,137,188,1) 5%, rgba(23,67,92,1) 95%);
  background: linear-gradient( to bottom, rgba(47,137,188,1) 5%, rgba(23,67,92,1) 95%);
}
.frameset {

  padding:1em;
  border: 1px solid #fff2;
}